In [1]:
from bs4 import BeautifulSoup
import requests

## Read the site as a text 
## get Table

In [80]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')
table = soup.find('table', class_='wikitable')
tr = table.find('tr')
td = tr.find('th')
#print(soup.prettify())
#table
#tr
#td.text

## find all rows and save it into a list

In [110]:
i=0
rows=[]
row=[]
for table in soup.find_all('table', class_='wikitable'): 
    for tr in table.find_all('tr'):
        for td in tr.find_all('td'):
            row.append(td.text)
        rows.append(row)
        row=[]
        
del rows[0] # Delete the first element in the list Because it's Empty

#rows
#type(rows)

In [31]:
import pandas as pd
import numpy as np

## convert the list to a DataFrame (df)

In [88]:
df=pd.DataFrame(rows,columns = ['Postcode' , 'Borough', 'Neighbourhood'])
df = df.replace('\n','', regex=True) # removing newlines from Neighbourhood
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

##  Ignore cells with a borough that is Not assigned

In [108]:
df= df[df.Borough != 'Not assigned']
df.head()
df.shape

(210, 3)

## combining Neighborhoods into one row depends on Postcode

In [111]:
result = df.groupby(['Postcode','Borough'], sort=False).agg( ','.join)
result.head()

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto                     Harbourfront
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Downtown Toronto                     Queen's Park

In [112]:
result.shape

(103, 1)

In [113]:
result.to_csv('Neighbourhood')